<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="https://jakarta.ee/xml/ns/jakartaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd"
         version="6.0"
         metadata-complete="false">
    <context-param>
        <param-name>avatarsPath</param-name>
        <param-value>/home/student/188612/jakartaEE-app/src/main/resources/com/example/app/configuration/avatars/</param-value>
    </context-param>
</web-app>